<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="boar401s2.marktime"
    android:versionCode="0612"
    android:versionName="v0.6b2" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="11" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MarkTime"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Settings"
            android:label="@string/title_activity_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="boar401s2.marktime.MarkTime" />
        </activity>
        <activity
            android:name=".ui.ListTemplate"
            android:label="@string/title_activity_list_template" >
        </activity>
        <activity
            android:name=".ui.Navigator"
            android:label="@string/title_activity_navigator" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="boar401s2.marktime.MarkTime" />
        </activity>
        <activity
            android:name=".ui.BoyUI"
            android:label="@string/title_activity_boy" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="boar401s2.marktime.ui.Navigator" />
        </activity>
        <activity
            android:name=".ui.Synchronise"
            android:label="@string/title_activity_synchronise"
            android:parentActivityName=".MarkTime" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="boar401s2.marktime.MarkTime" />
        </activity>
    </application>

</manifest>
